* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
}

button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}
h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
}
